.root{

    -fx-background-color:#f5f5f5;

}

.image-card{

    -fx-background-color:white;

    -fx-padding:5;

    -fx-border-color:#dcdcdc;

    -fx-border-radius:8;

    -fx-background-radius:8;

}

.image-card:hover{

    -fx-border-color:#2196f3;
}